@import "./blocks/normalize.scss";


@font-face {
  font-family: "YS Text";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url(//yastatic.net/s3/home/fonts/ys/1/text-regular.woff2) format("woff2"),url(//yastatic.net/s3/home/fonts/ys/1/text-regular.woff) format("woff");
}
@font-face {
  font-family: "YS Text";
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url(//yastatic.net/s3/home/fonts/ys/1/text-medium.woff2) format("woff2"),url(//yastatic.net/s3/home/fonts/ys/1/text-medium.woff) format("woff");
}
@font-face {
  font-family: "YS Text";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url(//yastatic.net/s3/home/fonts/ys/1/text-bold.woff2) format("woff2"),url(//yastatic.net/s3/home/fonts/ys/1/text-bold.woff) format("woff");
}

* {
  box-sizing: border-box;
}

:root {
  --orange-500: #FF9A00;
  --red-500:#FF3333;
  --secondary: #b3b3b3;
  --max-width: 824px;
  --blue-grey-500: #7F8285;
  --color-bg-heavy: #D9D9D9;
  --color-bg-control-hovered:#DBDBDB;
  --color-border-focused: #B3B3B3;
  --color-bg-disabled: #F2F2F2;
  --color-bg-action-hovered: #F2C200;
  --color-border-action-focused: #B38F00;
  --black: #000000;
  --pointer: url("../icon/Vector.svg");
}

::placeholder {
  color: #cccccc;
}

html, body {
  font-family: "YS Text";
  font-style: normal;
  width: 100vw;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.Page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: var(--max-width);
  margin: auto;

  &__center-on {
    align-items: center;
  }
}

@media only screen and (max-width: 824px) {
  .Content {
    width: 100%;
    padding: 14px 16px 12px 16px;
  }
}

@import "./blocks/Buttons.scss";
@import "./blocks/Copyright.scss";
@import "./blocks/Footer.scss";
@import "./blocks/Header.scss";
@import "./blocks/Link.scss";
@import "./blocks/Logo.scss";
@import "./blocks/Form.scss";
@import "./blocks/Text.scss";
@import "./blocks//Card.scss";
@import "./blocks/Icon.scss";
@import "./blocks/Log.scss";

