.Button {
  border-radius: 4px;
  border: none;
  cursor: var(--pointer), auto;

  &__color {
    &-control {
      background: #E6E6E6;
    }
    &-action {
      background: #FFCC00;
    }
  }

  &__padding {
    &-control {
      padding: 0px 13px 0px 25px;
    }

    &-action {
      padding: 0px 20px;
    }
  }

  &__backgroundImage {
    &-control {
      background-repeat: no-repeat;
      background-image: url("./../../icon/12_settings.png");
      background-position: 8px 8px;
    }
  }

  &_Text {
    font-family: "YS Text";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #000000;

    &__lineHeight {
      &-control {
        line-height: 28px;
      }
      &-action {
        line-height: 36px;
      }
    }

    &__visible {
      &-control {
        display: inline-block;
      }
    }
  }

}

@media only screen and (max-width: 1023px) {
  .Button {

    &_Text {

      &__visible {
        &-control {
          display: none;
        }
      }
    }

    &__padding {
      &-control {
        padding: 14px;
      }
    }
  }
}